<a href="https://colab.research.google.com/github/SauravDeb-98/Learnbay_Assignment/blob/main/String_Assignment_Saurav_Deb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#Declare a string and store it in a variable.
s= 'Saurav'

#Check the type and print the id of the same.
print(type(s), id(s))

<class 'str'> 140058373603120

In [ ]:
#Which are valid/invalid strings
1. 'This is Python class'
valid

2. "This is Python class"
valid

3. '''This is Python class'''
valid

4. """This is Python class"""
valid

5. 'This is Python's class'
invalid

6. "Learnbay provides "Java", "Python" classes"
invalid

7. "Learnbay provides 'Java', 'Python' classes"
valid

8. "This is Python's class"
valid

9. """Learnbay provides "Java", "Python" classes"""
valid

10. '''Learnbay provides "Java", "Python" classes'''
valid

11. '''Learnbay provides
"Java", "Python"
classes'''
valid

12. 'This is
Python
class'
invalid

In [12]:
#Write the code to get the output mentioned below print statement
my_str = "Although that way may not be obvious at first unless you're Dutch."
my_str1 = "Although that way may not be obvious at first unless you're Dutch."

print(len(my_str))
#output:- The length of my_str is 66

if id(my_str)==id(my_str1):
  print("True")
else:
  print("False")
#output:- id of my_str and my_str1 is same? - True

print(type(my_str))
#output:- Type of my_str is: str

66
False
<class 'str'>

In [8]:
#Indexing
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"
#Write the code to get the output,instructions are mentioned below print statement. use indexing

print(my_str[0])
#output:- The first character in my_str is: A
#Note:- Use positive indexing

print(len(my_str))
#output:- The first character in my_str is: A
#Note:- Use len() function.

print(my_str[10])
#output:- The character at index 10 in my_str is: ' '
#Note:- Use positive indexing

print(my_str[-1])
#output:- The last character in my_str is: h
#Note:- Use negative indexing.

print(len(my_str))
#output:- The last character in my_str is: h
#Note:- Use len() function.

print(my_str[9])
#output:- The character in my_str is: 8
#Note:- Use positive index

A
67

h
67
8

In [13]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"

for i,j in enumerate(my_str):
  print(i,j)

0 A
1 l
2 t
3 h
4 o
5 u
6 g
7 h
8
9 8
10
11 t
12 h
13 a
14 t
15
16 w
17 a
18 y
19
20 m
21 a
22 y
23
24 n
25 o
26 t
27
28 b
29 e
30
31 o
32 b
33 v
34 i
35 o
36 u
37 s
38
39 a
40 t
41
42 f
43 i
44 r
45 s
46 t
47
48 u
49 n
50 l
51 e
52 s
53 s
54
55 y
56 o
57 u
58 '
59 r
60 e
61
62 D
63 u
64 t
65 c
66 h

In [14]:

#Slicing
my_str = "Although that way may not be obvious at first unless you're Dutch."
#Write the code to get the output,instructions are mentioned below print statement. use slicing
print(my_str[:])
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.Without begin, end and step


print(my_str[0: len(my_str)])
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.with begin as 0 end using len and without step


print(my_str[::1])
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.without begin and end but using step


print(my_str[0:len(my_str):1])
#output:- You have sliced: Although that way may not be obvious at first unless you're Dutch.With begin, end and step


print(my_str[0:len(my_str):-len(my_str)])
#output:- You have sliced:   .with using begin and end using postive values and step as negative values.
#Slicing command should print empty string.


print(my_str[::2])
#output:- You have sliced: Atog htwymyntb biu tfrtuls o'eDth



print(my_str[::3])
#output:- You have sliced: Ahgttam tebo  r lsorDc


print(my_str[::-1])
#output:- You have sliced: .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA. Use only step


print()
#output:- You have sliced: .hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA. Use begin end and step.
print(my_str[-1:-len(my_str)-1:-1])

print(my_str[::-2])
#output:- You have sliced: .cu ruysen si asovoe o a a athuhl. use only step


print(my_str[-1:-len(my_str)-1:-2])
#output:- You have sliced: .cu ruysen si asovoe o a a athuhl. use begin, end and step.


print(my_str[10:17:-1])
#What will be the output? - Empty
a= my_str[::-1]
print(a[-12:-18:-1][::-1])
#output:- You have sliced: yaw ta, Using begin, end and step.

print(my_str[49:56:1])
#output:- You have sliced: ess you. Using begin, end and step.

Although that way may not be obvious at first unless you're Dutch.
Although that way may not be obvious at first unless you're Dutch.
Although that way may not be obvious at first unless you're Dutch.
Although that way may not be obvious at first unless you're Dutch.

Atog htwymyntb biu tfrtuls o'eDth
Ahgttam tebo  r lsorDc
.hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA

.hctuD er'uoy sselnu tsrif ta suoivbo eb ton yam yaw taht hguohtlA
.cu ruysen si asovoe o a a athuhl
.cu ruysen si asovoe o a a athuhl

yaw ta
ess you

In [15]:
#Basic operation on string
str1 = 'Learnbay'
str2 = 'Python'

#Write the code to get the output,instructions are mentioned below.
#Output is: Learnbay Python
print(str1+str2)


#Error: TypeError: can only concatenate str (not "int") to str


#Error: TypeError: can only concatenate str (not "float") to str



#Find below Output
#Output is: LearnbayLearnbayLearnbay
print(str1*3)


#Error: TypeError: can't multiply sequence by non-int of type 'float'


#Error: TypeError: can't multiply sequence by non-int of type 'str'

LearnbayPython
LearnbayLearnbayLearnbay

In [16]:
#Find below Output
str1 = 'Python'
str2 = 'Python'
str3 = 'Python$'
str4 = 'Python$'

#print True by using identity operator between str1 and str2
if id(str1) == id(str2):
  print("True")


#print False by using identity operator between str1 and str3
print(id(str1) == id(str3))



#print False by using identity operator between str4 and str3
if id(str4) == id(str3):
  print("False")


#Check if P is available in str1 and print True by using membership operator
print('P' in str1)


#Check if $ is available in str3 and print True by using membership operator
print("$" in str3)


#Check if N is available in str3 and print False by using membership operator
print("N" in str3)

True
False
True
True
False

In [17]:
#Complete the below code
str1 = 'This is Python class'
#write the code to replace 'Python' with 'Java' and you should get below error.
#TypeError: 'str' object does not support item assignment.
str1[8:13]= "Java"
print(str1)

TypeError: ignored

In [18]:
str1 = 'A'
str2 = 'A'
#Compare str1 and str2 and print True using comparison operator
print(str1==str2)


#Compare str1 and str2 and print True using equality operator
print(str1==str2)


#Compare str1 and str2 and print False using equality operator
print(str1!=str2)


#Compare str1 and str2 and print False using comparison operator
print(str1!=str2)

True
True
False
False

In [19]:
str1 = 'A'
str2 = 'a'
#Compare str1 and str2 and print True using comparison operator
print(str1<=str2)


#Compare str1 and str2 and print True using equality operator
print(str1!=str2)


#Compare str1 and str2 and print False using equality operator
print(str1==str2)


#Compare str1 and str2 and print False using comparison operator
print(str1>str2)

True
True
False
False

In [20]:
str1 = 'A'
str2 = '65'
#Compare str1 and str2 using comparison operator and it should give below error.
#Error: TypeError: '>=' not supported between instances of 'str' and 'int'
print(str1>=str2)

#Compare str1 and str2 and print True using equality operator
print(str1!=str2)


#Compare str1 and str2 and print False using equality operator
print(str1==str2)

True
True
False

In [21]:
str1 = 'Python'
str2 = 'Python'
#Compare str1 and str2 and print True using comparison operator
print(str1>=str2)


#Compare str1 and str2 and print True using equality operator
print(str1==str2)

#Compare str1 and str2 and print False using equality operator
print(str1!=str2)

#Compare str1 and str2 and print False using comparison operator
print(str1>str2)

True
True
False
False

In [22]:
str1 = 'Python'
str2 = 'python'
#Compare str1 and str2 and print True using comparison operator
print(str1<str2)


#Compare str1 and str2 and print True using equality operator
print(str1!=str2)


#Compare str1 and str2 and print False using equality operator
print(str1==str2)


#Compare str1 and str2 and print False using comparison operator
print(str1>=str2)

True
True
False
False

In [23]:
a = 'Python'
b = ''

#Apply logical opereators (and, or & not) on above string values and observe the output.
print(a and b)
print(a or b)
print(not a)
print(not b)

Python
False
True

In [24]:
a = ''
b = ''

#Apply logical opereators (and, or & not) on above string values and observe the output.
print(a and b)
print(a or b)
print(not a)
print(not b)

True
True

In [25]:
a = 'Python'
b = 'learnbay'

#Apply logical opereators (and, or & not) on above string values and observe the output.
print(a and b)
print(a or b)
print(not a)
print(not b)

learnbay
Python
False
False

In [ ]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"

#Write the code to get the total count of 't' in above string. Use find() and index() method.
print(my_str.count('t'))
#answer = 7


#Write the code to get the index of '8' in my_str. Use find() and index() method.
print(my_str.find('8'))
#answer =9


#What will be the output of below code?
print(my_str.find('the'))
#answer = -1


print(my_str.index('the'))
#answer- substring not found


print(my_str.find('t', 9, 15))
#answer= 11


print(my_str.rfind('u'))
#answer = 63


print(my_str.rindex('u'))
#answer = 63

In [27]:
#W A P which applies strip() method if any string, which will be taken from user, starts and ends with space, or applies
#rrstrip() method if that string only ends with space or applies lstrip() method if that string only starts with a space.

#For example:-
#input:- '    Python   '
#output:- 'Python'
input= '    Python   '
print(input.strip())

#input:- '    Python'
input='    Python'
print(input.lstrip())
#output:- 'Python'

#input:- 'Python   '
input= 'Python   '
print(input.rstrip())
#output:- 'Python'

Python
Python
Python

In [28]:
my_str = "Although 8 that way may not be obvious at first unless you're Dutch"

#Write the code to convert all alphabets in my_str into upper case.
print(my_str.upper())

#Write the code to convert all alphabets in my_str into lower case.
print(my_str.lower())

#Write the code to swap the cases of all alphabets in my_str.(lower to upper and upper to lower)
print(my_str.swapcase())

ALTHOUGH 8 THAT WAY MAY NOT BE OBVIOUS AT FIRST UNLESS YOU'RE DUTCH
although 8 that way may not be obvious at first unless you're dutch
aLTHOUGH 8 THAT WAY MAY NOT BE OBVIOUS AT FIRST UNLESS YOU'RE dUTCH

In [4]:
#Write the code which takes one string from user and if it starts with small case letter then convert it to corresponding
#capital letter otherwise if starts with capital letters then convert first character of every word in that string into capital

new= input("Enter string: ")

if new.istitle():
  print(new)
else:
  print(new.title())

Enter string: sami
Sami

In [29]:
#Take a string from user and check if it is:-
#     1. alphanumeric
#     2. alphabets
#     3. digit
#     4. all letters are in lower case
#     5. all letters are in upper case
#     6. in title case
#     7. a space character
#     8. numeric
#     9. all number elements in string are decimal

a= ' hello world 98 @'
print(a.isalnum())
print(a.isdigit())
print(a.islower())
print(a.isupper())
print(a.istitle())
print(a.isspace())
print(a.isnumeric())
print(a.isdecimal())

False
False
True
False
False
False
False
False

In [2]:
#W A P which takes a string as an input and prints True if the string is valid identifier else returns False.
#Sample Input:- 'abc', 'abc1', 'ab1c', '1abc', 'abc$', '_abc', 'if'
mymy = input("Enter: ")
if mymy.isidentifier():
  print("True")

Enter: abc1
True

In [31]:
#What will be output of below code?
s = chr(65) + chr(97)
print(s.isprintable())

s = chr(27) + chr(97)
print(s.isprintable())

s = '\n'
print(s.isprintable())

s = ''
print(s.isprintable())

True
False
False
True

In [33]:
#What will be output of below code?
my_string = '  '
print(my_string.isascii())

my_string = 'Studytonight'
print(my_string.isascii())

my_string = 'Study tonight'
print(my_string.isascii())

my_string = 'Studytonight@123'
print(my_string.isascii())

my_string = '°'
print(my_string.isascii())

my_string = 'ö'
print(my_string.isascii())

True
True
True
True
False
False

In [34]:
#What will be the output of below code?
firstString = "der Fluß"
secondString = "der Fluss"

if firstString.casefold() == secondString.casefold():
    print('The strings are equal.')
else:
    print('The strings are not equal.')

The strings are equal.

In [35]:
#Write the code to get below output
inp= "python"

print(inp.ljust(8, "*"))
#O/P 1:- python** (using ljust method)


#Write the code to get below output
print(inp.rjust(8, "*"))
#O/P 1:- **python (using rjust method)


#Write the code to get below output
a= inp.ljust(8, "*")
b = a.rjust(10,'*')
print(b)

#O/P 1:- **python** (using rjust method)

python**
**python
**python**

In [36]:
#Write a Python program to find the length of the my_str:-

#Input:- 'Write a Python program to find the length of the my_str'
#Output:- 55
a= 'Write a Python program to find the length of the my_str'
print(len(a))

55

In [38]:
#Write a Python program to find the total number of times letter 'p' is appeared in the below string:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 9
a= 'peter piper picked a peck of pickled peppers.'
print(a.count('p'))

9

In [39]:
#Write a Python Program, to print all the indexes of all occurences of letter 'p' appeared in the string:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:-
# 0
# 6
# 8
# 12
# 21
# 29
# 37
# 39
# 40
a= 'peter piper picked a peck of pickled peppers.'

for i in range(len(a)):
  if a[i]=='p':
    print(i)

0
6
8
12
21
29
37
39
40

In [40]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- ['peter', 'piper', 'picked', 'a', 'peck', 'of', 'pickled', 'peppers.']

a= 'peter piper picked a peck of pickled peppers.'
print(a.strip().split())

['peter', 'piper', 'picked', 'a', 'peck', 'of', 'pickled', 'peppers.']

In [42]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'peppers. pickled of peck a picked piper peter'
a= 'peter piper picked a peck of pickled peppers.'
new= a.strip().split()

print(list(reversed(new)))

['peppers.', 'pickled', 'of', 'peck', 'a', 'picked', 'piper', 'peter']

In [43]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- '.sreppep delkcip fo kcep a dekcip repip retep'
a= 'peter piper picked a peck of pickled peppers.'
new= a.strip().split()

new_rev= list(reversed(new))
all=[]
for i in range(len(new_rev)):
  all.append(new_rev[i][::-1])

print(all)

['.sreppep', 'delkcip', 'fo', 'kcep', 'a', 'dekcip', 'repip', 'retep']

In [44]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'retep repip dekcip a kcep fo delkcip .sreppep'

a= 'peter piper picked a peck of pickled peppers.'
new= a.strip().split()

all=[]
for i in range(len(new)):
  all.append(new[i][::-1])

print(all)

['retep', 'repip', 'dekcip', 'a', 'kcep', 'fo', 'delkcip', '.sreppep']

In [45]:
#Write a python program to find below output:-

#Input:- 'peter piper picked a peck of pickled peppers.'
#Output:- 'Peter Piper Picked A Peck Of Pickled Peppers.'

a= 'peter piper picked a peck of pickled peppers.'
new= a.strip().split()
all=[]
for i in range(len(new)):
  all.append(new[i].capitalize())
print(all)

['Peter', 'Piper', 'Picked', 'A', 'Peck', 'Of', 'Pickled', 'Peppers.']

In [46]:
#Write a python program to find below output:-

#Input:- 'Peter Piper Picked A Peck Of Pickled Peppers.'
#Output:- 'Peter piper picked a peck of pickled peppers.'
a= 'Peter Piper Picked A Peck Of Pickled Peppers.'
new= a.strip().split()
all=[]
all.append(new[0])
for i in range(1, len(new)):
  all.append(new[i].lower())
print(all)

['Peter', 'piper', 'picked', 'a', 'peck', 'of', 'pickled', 'peppers.']

In [47]:
#Write a python program to implement index method. If sub_str is found in my_str then it will print the index
# of first occurrence of first character of matching string in my_str:-

#Input:- my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Pickl'
#Output:- 29
my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.'
sub_str = 'Pickl'

print(my_str.find(sub_str))

29

In [48]:
#Write a python program to implement replace method. If sub_str is found in my_str then it will replace the first
#occurrence of sub_str with new_str else it will will print sub_str not found:-

#Input:- my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Peck', new_str = 'Pack'
#Output:- 'Peter Piper Picked A Pack Of Pickled Peppers.'
my_str = 'Peter Piper Picked A Peck Of Pickled Peppers.'
sub_str = 'Peck'
new_str = 'Pack'
print(my_str.replace(sub_str,new_str))

Peter Piper Picked A Pack Of Pickled Peppers.

In [54]:
#Write a python program to find below output (implements rjust and ljust):-

#Input:- 'Peter Piper Picked A Peck Of Pickled Peppers.', sub_str = 'Peck',
#Output:- '*********************Peck********************'

a= 'Peter Piper Picked A Peck Of Pickled Peppers.'
sub_str = 'Peck'
new= sub_str.rjust(21,"*").ljust(42,'*')
print(new)

*****************Peck*********************